nbproject/private
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml
.idea/
nbbuild.xml
manifest.mf
pkg
build.properties
build_lib/jruby.jar
build
coverage.ec
dist
doc
tmp
.classpath
.project
*.gem
*.class
*.swp
*.swo
*~

